@import 'config';
@import 'utilities';

//GENERAL AND HEADING
body{
    background-color: $custom-dark-green;
    a{
        text-decoration: none;
    }
    em{
        color: $custom-light-green;
        font-style: normal;
    }
    ul{
        list-style: none;
    }
}

header{
    background-color: $custom-green;
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    .menu{
        li{
            display: inline;
            margin-right: 10px;
        }
        li:last-of-type{
            margin-right: 0;
        }
    }

    .dropdown{
        span{
            z-index: 2;
            position: relative;  /* This is important! */
            cursor: pointer;
        }
    }

    .features-menu {
        display: flex;
        flex-direction: column;
        background: $custom-light-grey;
        border-radius: 5px;
        padding-top: 50px;

        position: absolute;      /* Add these */
        top: 5px;
        right: 10px;
        z-index: 1;

        display: none;
    }

    .dropdown:hover{
        .features-menu{
            display: flex;
        }
    }

      
    .features-menu li {
        list-style: none;
        border-bottom: 1px solid $custom-white;
      
        padding: 0 30px 5px 10px;
        margin: 10px;
    }
      
    .features-menu li:last-of-type {
        border-bottom: none;
    }

    a{
        height: 50px;
        padding: 5px;
        text-decoration: none;
        color: $custom-white;
    }  
    img{
        height: 40px;
    }
    .logo-img{
        height: 60px;
    }
    
}

.page-title{
    font-size: 1.4em;
    margin: 10px $left-std-margin-small;
    color: $custom-white;
}

h2{
    font-size: 1.5em;
    margin: 20px $left-std-margin-small;
    color: $custom-light-green;
}

p{
    font-size: 1.2em;
    color: $custom-white;
    line-height: 1.2em;
    max-width: 400px;
    margin: auto $left-std-margin-small;
}

.special-heading-text{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}


.res-btn-sec{
    display: flex;
    margin-top: 20px;
}

.img-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 10px;
        opacity: .85;
    }
}

//TECHOLOGY SECTION

.technologies{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 300px;
    margin: 20px auto;

    img{
        height: 50px;
        width: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

//ABOUT SECTION

.about{
    padding: 0px 10px;
    h3{
        margin-left: $left-std-margin-small;
        margin-right: $right-std-margin-small;
        font-size: 1.1em; 
    }
    
}

//MILESTONES SECTION

.milestones{
    padding: 0px 10px;
}

.milestone-box-container{
    margin-left: $left-std-margin-small;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start
}

//PORTFOLIO SECTION

.portfolio{
    padding: 0px 10px;
    &-container{
        margin-left: $left-std-margin-small;
        margin-right: $right-std-margin-small;
        min-width: 300px;
        min-height: 250px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border: 2px solid $custom-light-grey;
        box-shadow: 5px 5px 10px $custom-light-grey;
        border-radius: 20px;
        color: $custom-white;
    }
}

//CONTACT SECTION

.contact{
    padding: 0px 10px;
}

.social-container{
    margin-left: $left-std-margin-small;
    margin-top: 10px;
    img{
        height: 40px;
        margin-right: $right-std-margin-small;
        opacity: .7;
        transition: opacity $transition-time-std;
    }
    img:hover{
        opacity: 1;
    }
}


//RESUME PAGE

.h-divider{
    border: 1px solid $custom-light-green;
    box-shadow: 3px 3px 5px $custom-light-green;
    margin: 15px;
}

.v-divider{
    border: 1px solid $custom-green;
    margin: 0px 10px;
}

.resume-experience-container{
    display: flex;
    margin-left: $left-std-margin-small;
    margin-top: 20px;
    margin-bottom: 20px;
    h3{
        color: $custom-light-green;
    }
    .not-good{
        color: red;
    }
    img{
        height: 50px;
        width: 60px;
        margin-right: $left-std-margin-small;
    }
    ul{
        list-style:outside;
        max-width: 240px;
        margin-left: $left-std-margin-small;
    }
    li{
        color: $custom-white;
    }
}




//+++++++++++++++++++++++++++++++++++++--------DESKTOP VIEW FROM HERE-----------------+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media  (min-width: 700px) {
    
    .page-title{
        font-size: 2em;
        margin: 10px $left-std-margin-small;
        color: $custom-white;
    }

    h2{
        font-size: 1.7em;
        margin: 20px $left-std-margin-big;
        color: $custom-light-green;
    }

    h3{
        margin-left: $left-std-margin-small;
        margin-right: $right-std-margin-small;
        font-size: 1.1em; 
    }

    p{
        font-size: 1.5em;
        color: $custom-white;
        line-height: 1.3em;
        max-width: 900px;
        margin: auto $left-std-margin-big;
    }

    .img-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        img{
            height: 500px;
            width: 500px;
            border-radius: 50%;
            margin: 10px;
            opacity: .85;
        }
    }

    .technologies{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 500px;
        margin: 20px auto;
    
        img{
            height: 70px;
            width: 70px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }

    .about{
        padding: 0px 10px;
        h3{
            margin-left: $left-std-margin-big;
            margin-right: $right-std-margin-small;
            font-size: 1.8em; 
        }
        p{
            min-width: 650px;
        }
    }

    .milestone-box-container{
        margin-left: $left-std-margin-big;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start
    }

    .portfolio{
        padding: 0px 10px;
        &-container{
            margin-left: $left-std-margin-big;
            margin-right: $right-std-margin-big;
            min-width: 300px;
            min-height: 250px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            border: 2px solid $custom-light-grey;
            box-shadow: 5px 5px 10px $custom-light-grey;
            border-radius: 20px;
            color: $custom-white;
        }
    }

    .contact{
        padding: 0px 10px;
    }
    
    .social-container{
        margin-left: $left-std-margin-big;
        margin-top: 10px;
        img{
            height: 50px;
            margin-right: $right-std-margin-small;
            opacity: .7;
            transition: opacity $transition-time-std;
        }
        img:hover{
            opacity: 1;
        }
    }
}